
 <div class="column">
    <div class="ui card">
        <div class="image">
          <img src="{{category.CategoryImageUrl}}" width="300px" height="250px" (click)="navigateProducts(category._id)">
        </div>
        <div class="content">
          <a class="header"  (click)="navigateProducts(category._id)">  {{category.CategoryName}}</a>       

          <div class="description">
            {{category.CategoryDesc}}
          </div>
          
        </div>
        <div class="content">
            <span class="right floated">
              <i class="heart outline like icon"></i>
              {{category.CategoryLikeCount}} likes
            </span>
            <i class="comment icon"></i>
            {{category.CategoryCommentCount}} comments
          </div>       
      </div>
  </div>