<div class="ui grid">
    <div class="sixteen wide mobile six wide tablet four wide computer column">
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="{{product.ProductImageUrl}}" width="300px" height="250px">
                </div>
                <div class="content">
                    <a class="header"> {{product.ProductName}}
                        <span class="right floated">
                            {{product.ProductPrice}} {{product.ProductCurrencyCode}}
                        </span>
                    </a>
                </div>
                <div class="content">
                    <span class="right floated">
                        <i class="heart outline like icon"></i>
                        {{product.ProductLikeCount}} likes
                    </span>
                    <i class="comment icon"></i>
                    {{product.ProductCommentCount}} comments
                </div>
            </div>
        </div>
    </div>
    <div class="sixteen wide mobile six wide tablet nine wide computer column">
        <div class="ui divided selection list">
            <a class="item">
                <a class="ui purple basic label">
                    <i class="thumbs up outline icon"></i> White Chocolate
                </a>
                <a class="ui basic label">
                    <i class="thumbs down outline icon"></i> Dark Chocolate
                </a>
            </a>
            <a class="item">
                <a class="ui basic label">
                    <i class="thumbs down outline icon"></i> Small Size
                </a>
                <a class="ui purple basic label">
                    <i class="thumbs up outline icon"></i> Medium Size
                </a>
                <a class="ui basic label">
                    <i class="thumbs down outline icon"></i> Big Size
                </a>
            </a>
            <a class="item">
                <a class="ui purple basic label">
                    <i class="thumbs up outline icon"></i> With Cream
                </a>
                <a class="ui basic label">
                    <i class="thumbs down outline icon"></i> No Cream
                </a>
            </a>
            <a class="item">
                <a class="ui purple basic label">
                    <i class="thumbs up outline icon"></i> Hot
                </a>
                <a class="ui basic label">
                    <i class="thumbs down outline icon"></i>Cold
                </a>
            </a>

        </div>
    </div>
    <div class="sixteen wide mobile four wide tablet three wide computer column">
        <div class="ui green button">
            <i class="shopping cart icon"></i> Add Basket
        </div>
        <div class="ui pointing red basic label">
            3 pieces, total 11$
        </div>
    </div>
</div>