<div class="ui divided items">

    <div class="item">
        <div class="image">
            <img src="{{product.ProductImageUrl}}" width="300px" height="250px">
            <a class="ui pointing red basic bottom attached label"> {{product.ProductPrice}} {{product.ProductCurrencyCode}}</a>
        </div>
        <div class="content">
            <a class="header"> {{product.ProductName}} </a>
            <div class="meta">
                <span class="cinema">{{product.ProductContent}}</span>
            </div>
            <br>
            <div class="description">
                <p></p>
            </div>
            <div class="extra">
                <div *ngFor="let property of product.ProductProperties">
                    <div class="ui label" *ngIf="(property.defaultValue == true)">
                        <i class="check icon"></i>
                        {{property.name}}
                    </div>
                </div>

                <h4 class="ui horizontal divider header">
                    <i class="bar chart icon"></i>
                    Özellik Seçimi
                </h4>
                <div class="ui form">
                    <div class="inline fields">
                        <label>Çikolata Tipi</label>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="chocolateType" checked="checked">
                                <label>Beyaz Çikolata</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="chocolateType">
                                <label>Bitter Çikolata</label>
                            </div>
                        </div>
                    </div>
                    <div class="inline fields">
                        <label>Boyut</label>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="size" checked="checked">
                                <label>Küçük Boy</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="size">
                                <label>Orta Boy</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="size">
                                <label>Büyük Boy</label>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="ui right floated button">
                    <i class="shopping cart icon"></i>Sepete Ekle
                </div>
            </div>
        </div>

    </div>


</div>